.Home {
  max-width: 1320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1.8rem;
  }
}
